<ion-toolbar>
  <ion-searchbar (ionChange)="onSearch()" (ionClear)="resetSearch()" [(ngModel)]="search"></ion-searchbar>
</ion-toolbar>

<ng-container *ngIf="search == null || search == ''">
  <ion-card *ngFor="let state of states">
    <ion-card-header>
      <ion-card-title>{{ state.state }} - {{ state.uf }}</ion-card-title>
      <ion-card-subtitle>
        <span class="ion-float-left">Casos: {{ state.cases }}</span>
        <span class="ion-float-right">Atualizado: {{ state.datetime | date:"dd/MM/yyyy"}}</span>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-list lines="none">
      <ion-item>
        <ion-icon name="pulse-outline" slot="start" color="warning" style="margin-right: 8px;"></ion-icon>
        <ion-label>Suspects</ion-label><ion-text color="warning">{{ state.suspects }}</ion-text>
      </ion-item>

      <ion-item>
        <ion-icon name="skull-outline" slot="start" color="secundary" style="margin-right: 8px;"></ion-icon>
        <ion-label>Mortes</ion-label><ion-text color="secundary">{{ state.deaths }}</ion-text>
      </ion-item>
    </ion-list>

  </ion-card>
</ng-container>


<ng-container *ngIf="search != null && search != ''">
  <ion-card *ngFor="let state of filteredStates">
    <ion-card-header>
      <ion-card-title>{{ state.state }} - {{ state.uf }}</ion-card-title>
      <ion-card-subtitle>
        <span class="ion-float-left">Casos: {{ state.cases }}</span>
        <span class="ion-float-right">Atualizado: {{ state.datetime | date:"dd/MM/yyyy"}}</span>
      </ion-card-subtitle>
    </ion-card-header>

      <ion-item lines="none">
        <ion-icon name="pulse-outline" slot="start" color="warning" style="margin-right: 8px;"></ion-icon>
        <ion-label>Suspects</ion-label><ion-text color="warning">{{ state.suspects }}</ion-text>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="skull-outline" slot="start" color="secundary" style="margin-right: 8px;"></ion-icon>
        <ion-label>Deaths</ion-label><ion-text color="secundary">{{ state.deaths }}</ion-text>
      </ion-item>

    

  </ion-card>
</ng-container>