<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Estados
    </ion-title>
    <ion-buttons (click)="signOut()" slot="end">
      <ion-icon  class="ion-padding-end" name="log-out-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lista de Estados</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <state-card></state-card>

  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
</ion-content>

