<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-margin-top ion-nowrap ion-justify-content-between ion-align-items-center">
        <ion-col size="1" *ngIf="typeOfView == 'state'" >
          <ion-buttons (click)="typeOfView = 'country'">
            <ion-icon class="ion-margin-end" slot="icon-only" name="arrow-back-outline"></ion-icon>
          </ion-buttons>
        </ion-col>
        <ion-col size="5">
          <ion-title>
            {{ typeOfView == "country" ? 'Countries' : 'States' }}
          </ion-title>
        </ion-col>
        <ion-col size="1">
          <ion-buttons (click)="signOut()">
            <ion-icon class="ion-margin-end" slot="icon-only" name="log-out-outline"></ion-icon>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <state-card *ngIf="typeOfView == 'state'" [states]="states"></state-card>
  <country-card *ngIf="typeOfView == 'country'" [countries]="countries" (onSelectCountry)="onSelectCountry($event)">
  </country-card>

</ion-content>