<ion-toolbar>
  <ion-searchbar (ionChange)="onSearch()" (ionClear)="resetSearch()" [(ngModel)]="search"></ion-searchbar>
</ion-toolbar>

<ng-container *ngIf="search == null || search == ''">
  <ion-card *ngFor="let country of countries">
    <a (click)="selectCountry(country)">
      <ion-card-header>
        <ion-card-title>{{ country.country }}</ion-card-title>
        <ion-card-subtitle>
          <span class="ion-float-left">Casos: {{ country.cases }}</span>
          <span class="ion-float-right">Atualizado: {{ country.updated_at | date:"dd/MM/yyyy"}}</span>
        </ion-card-subtitle>
      </ion-card-header>

      <ion-item lines="none">
        <ion-icon name="pulse-outline" slot="start" color="warning" style="margin-right: 8px;"></ion-icon>
        <ion-label>Confirmed</ion-label><ion-text color="warning">{{ country.confirmed }}</ion-text>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="bandage-outline" slot="start" color="primary" style="margin-right: 8px;"></ion-icon>
        <ion-label>Recovered</ion-label><ion-text color="primary">{{ country.recovered }}</ion-text>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="skull-outline" slot="start" color="secundary" style="margin-right: 8px;"></ion-icon>
        <ion-label>Deaths</ion-label><ion-text color="secundary">{{ country.deaths }}</ion-text>
      </ion-item>

    </a>
  </ion-card>
</ng-container>


<ng-container *ngIf="search != null && search != ''">
  <ion-card *ngFor="let country of filteredCountries">
    <ion-card-header>
      <ion-card-title>{{ country.country }}</ion-card-title>
      <ion-card-subtitle>
        <span class="ion-float-left">Casos: {{ country.cases }}</span>
        <span class="ion-float-right">Atualizado: {{ country.updated_at | date:"dd/MM/yyyy"}}</span>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-item lines="none">
      <ion-icon name="pulse-outline" slot="start" color="warning" style="margin-right: 8px;"></ion-icon>
      <ion-label>Confirmed</ion-label><ion-text color="warning">{{ country.confirmed }}</ion-text>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="bandage-outline" slot="start" color="primary" style="margin-right: 8px;"></ion-icon>
      <ion-label>Recovered</ion-label><ion-text color="primary">{{ country.recovered }}</ion-text>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="skull-outline" slot="start" color="secundary" style="margin-right: 8px;"></ion-icon>
      <ion-label>Deaths</ion-label><ion-text color="secundary">{{ country.deaths }}</ion-text>
    </ion-item>

  </ion-card>
</ng-container>